.about {
    width: 100%;
    height: 255px;
    background: white;
    display: flex;
    justify-content: center;
}

.about__prt-about {
    width: 1366px;
    display: flex;
    height: 255px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.about__prt-about_us {
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.about__orange-line {
    border-bottom: 1px solid #f4511e;
    height: 0px;
    width: 153px;
}

.about__prt-about_lorem {
    font-size: 15px;
    color: #919191;
    text-align: center;
}

.blocks {
    width: 100%;
    height: 314px;
    background: white;
    display: flex;
    justify-content: center;
}

.blocks-inside {
    width: 997px;
    display: flex;
    height: 314px;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    height: 195px;
    width: 321px;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.block__pic {
    display: flex;
    align-items: center;
    width: 45px;
    height: 58px;
}

.block__title {
    font-size: 17px;
    font-weight: bold;
    color: #707070;
}

.block__lorem {
    color: #707070;
    font-size: 14px;
}