.blog-posts {
    width: 100%;
    height: 795px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.blog-posts__part {
    height: 795px;
    width: 1366px;
    display: flex;
    flex-direction: column;
}

.blog-posts__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-posts__text_title {
    color: #3d3d3d;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 75px;
}

.blog-posts__text_line {
    border-bottom: 1px solid #f4511e;
    width: 154px;
    margin-top: 13px;
}

.blog-posts__text_lorem {
    color: #c2c2c2;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}

.blog-posts__content {
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    align-items: center;
    justify-content: center;
}

.content__block {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    height: 426px;
    width: 320px;
}

.content__block_margin-right {
    margin-right: 25px;
}

.content__block_title {
    color: #6c6c6c;
    font-size: 15px;
    margin-top: 39px;
    margin-left: 25px;
}

.content__block_lorem {
    font-size: 13px;
    color: #6c6c6c;
    margin-top: 30px;
    margin-left: 25px;
}

.content__block_date-likes-comments {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__block_date-text {
    color: #6c6c6c;
    font-size: 10px;
    margin-left: 7px;
}

.content__block_like {
    margin-left: 125px;
}

.content__block_like-num {
    color: #6c6c6c;
    font-size: 10px;
    margin-left: 6px;
}

.content__block_comment {
    margin-left: 10px;
}

.content__block_comment-num {
    color: #6c6c6c;
    font-size: 10px;
    margin-left: 6px;
}