.chose-plan {
    width: 100%;
    height: 707px;
    display: flex;
    justify-content: center;
    background-color: #171f23;
}

.chose-plan__part {
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chose-plan__title {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 60px;
}

.chose-plan__line {
    width: 86px;
    border-bottom: 1px solid #404040;
    margin-top: 20px;
}

.chose-plan__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}

.chose-plan__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 450px;
    background-color: #1f282c;
    border: 1px solid #f6734b00;
}

.chose-plan__block-hat {
    background-color: #0e1316;
    height: 128px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chose-plan__block-hat_types {
    font-size: 11px;
    color: white;
    font-weight: bold;
    margin-top: 43px;
}

.chose-plan__block-hat_price {
    color: white;
    font-size: 27px;
    margin-top: 10px;
}

.chose-plan__block_dolor {
    font-size: 22px;
    color: white;
}

.chose-plan__block_qualities {
    color: white;
    font-size: 13px;
}

.chose-plan__block_qualities_margin-top22 {
    margin-top: 22px;
}

.chose-plan__block_qualities_margin-top47 {
    margin-top: 47px;
}

.chose-plan__block_numbers {
    font-weight: bold;
    font-size: 13px;
    color: white;
}

button,
button:active,
button:focus {
    outline: none !important;
    border: none;
}

.chose-plan__block_button {
    background-color: #f6744b;
    font-size: 11px;
    font-weight: bold;
    color: white;
    width: 125px;
    height: 34px;
    border-radius: 5px;
    margin-top: 76px;
}

.chose-plan__block_button:active {
    border: 1px solid white;
    background-color: #fc8764;
}

.chose-plan__margin-right2px {
    margin-right: 2px;
}

.chose-plan__block:hover {
    border: 1px solid #f6744b;
}

.chose-plan__block:hover .chose-plan__block_numbers {
    color: #f6744b;
}