.creative1 {
    width: 100%;
    height: 708px;
    background: #353535;
    display: flex;
    justify-content: center;
}

.creative__part1 {
    width: 1366px;
    display: flex;
    height: 708px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.creative__part_think {
    color: #f8f6f6;
    display: flex;
    justify-content: center;
    font-size: 53px;
    font-weight: bold;
    margin-top: 325px;
}

.creative__part_like {
    color: #f8f6f6;
    font-size: 26px;
    font-weight: bold;
    margin-top: 25px;
}

.creative2 {
    width: 100%;
    height: 157px;
    background: #353535;
    display: flex;
    justify-content: center;
}

.creative__part_mouse-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creative__part_mouse {
    width: 22px;
    height: 38px;
}

.creative__part_scroll {
    color: #f8f6f6;
    font-size: 10px;
    font-weight: bold;
    margin-top: 17px;
}