.features {
    width: 100%;
    height: 384px;
    display: flex;
    justify-content: center;
    background-color: #171f23;
}

.features__part {
    width: 1366px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__features {
    font-size: 27px;
    font-weight: bold;
    color: #f6f6f6;
    text-align: center;
    margin-top: 60px
}

.features__line {
    width: 88px;
    border-bottom: 1px solid #5f5f5f;
    text-align: center;
    margin-top: 20px;
}

.features__4blocks {
    display: flex;
    margin-top: 47px;
}

.features__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__block_shortcodes {
    width: 58px;
    height: 56px;
}

.features__block_plugins {
    width: 56px;
    height: 56px;
}

.features__block_products {
    width: 56px;
    height: 56px;
}

.features__block_clients {
    width: 38px;
    height: 56px;
}

.features__block_text {
    color: #f6f6f6;
    font-size: 17px;
    margin-top: 28px;
}

.features__block_num {
    color: #f6f6f6;
    font-size: 35px;
    margin-top: 27px;
}

.features__margin-r140 {
    margin-right: 140px;
}