.footer {
    height: 240px;
    width: 100%;
    background-color: #171f23;
    display: flex;
    justify-content: center;
}

.footer__part {
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__boostfolia {
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-top: 9px;
}

.footer__made-with-love {
    font-size: 11px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

.footer__socials {
    margin-top: 19px;
}

.footer__margin-top48 {
    margin-top: 48px;
}

.footer__margin-right10 {
    margin-right: 10px;
}