.form {
    height: 694px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.form__part {
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    font-size: 35px;
    font-weight: bold;
    color: #3d3d3d;
    text-align: center;
    margin-top: 84px;
}

.form__orange-line {
    border-bottom: 1px solid #f4511e;
    width: 154px;
    margin-top: 13px;
}

.form__lorem {
    font-size: 15px;
    color: #8e8e8e;
    text-align: center;
    margin-top: 25px;
}

.form__flex-dir_col {
    display: flex;
    flex-direction: column;
}

.form__name-mail {
    display: flex;
    margin-top: 95px;
}

.form__text {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: bold;
}

.form__orange-color {
    color: #f4511e;
}

input {
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.form__input_name-mail {
    border-bottom: 2px solid #8e8e8e;
    width: 372px;
    margin-top: 25px;
}

.form__input-message {
    border-bottom: 2px solid #8e8e8e;
    width: 773px;
    margin-top: 25px;
}

input:active,
input:focus {
    border-bottom: 2px solid #525151;
}

.form__button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #f4511e;
    margin-top: 60px;
}

.form__button:active {
    border: 1px solid white;
    background-color: #fc8764;
}

.margin-right26 {
    margin-right: 26px;
}

.margin-top45 {
    margin-top: 45px;
}

.locate {
    height: 84px;
    width: 100%;
    background-color: #0c1215;
    display: flex;
    justify-content: center;
}

.locate__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locate__on-map {
    color: white;
    font-weight: bold;
    font-size: 18px;
}