* {
    margin: 0;
}

.hat {
    background-color: #f8f6f6;
    width: 100%;
    height: 143px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 99999999;
}

.hat-part {
    display: flex;
    width: 1366px;
    height: 143px;
    justify-content: space-between;
}

.hat-part__rocket-boostifolia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 180px;
}

.hat-part__rocket {
    width: 33px;
    height: 52px;
    margin-right: 25px;
}

.hat-part__boostfolia {
    color: #858585;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.hat-part__menu {
    display: flex;
    align-items: center;
    margin-right: 188px;
}