.our {
    width: 100%;
    background: #ffffff;
    height: 314px;
    display: flex;
    justify-content: center;
}

.our__part {
    width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.our__title-lorem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.our__title {
    color: black;
    font-size: 37px;
    font-weight: bold;
}

.our__orange-line {
    border: 1px solid #f4511e;
    height: 0px;
    width: 155px;
}

.our__lorem {
    color: #9a9a9a;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.our__sections {
    display: flex;
    justify-content: space-around;
    color: #494949;
    font-size: 13px;
    margin-top: 120px;
    margin-bottom: 20px;
}

.sections__w {
    border-bottom: 1px solid #f4501e00;
}

.sections__w:hover {
    border-bottom: 1px solid #f4511e;
}