.red {
    width: 100%;
    height: 525px;
    background: #e84c3d;
}

.clients {
    width: 100%;
    height: 240px;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
}

.clients__part {
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clients__img {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
}

.clients__marginR25px {
    margin-right: 25px;
}

.clients__marginL25px {
    margin-left: 25px;
}

.clients__pic {
    position: absolute;
}

.clients__name {
    color: white;
    font-size: 34px;
}