.watch-behind-the-scene {
    width: 100%;
    height: 431px;
    background: #171f23;
    display: flex;
    justify-content: center;
}

.watch {
    display: flex;
    align-items: center;
}

.watch__full-part {
    width: 1366px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.watch__part1 {
    width: 683px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.watch__part_title {
    font-size: 25px;
    font-weight: bold;
    color: #e7e7e7;
    text-align: center;
}

.watch__part_text {
    font-size: 14px;
    color: #696969;
    text-align: center;
}

.watch__part_button {
    color: white;
    background: #e84c3d;
    text-align: center;
    width: 130px;
    height: 37px;
    font-size: 12px;
    font-weight: bold;
}

.watch-video {
    width: 656px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-video__background {
    width: 656px;
    height: 431px;
    position: absolute;
}

.black-theme {
    position: absolute;
    width: 656px;
    height: 431px;
    background: rgba(0, 0, 0, 0.712);
}

.watch-video__play-icon {
    width: 95px;
    height: 108px;
    position: absolute;
}

span {
    color: rgba(0, 0, 0, 0);
}

@media screen and (max-width:800px) {
    .watch-behind-the-scene {
        flex-direction: column;
    }
    .watch-video__background {
        position: static;
    }
}