.who {
    width: 100%;
    height: 272px;
    display: flex;
    justify-content: center;
}

.who__part {
    width: 1366px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.who__we-are {
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.who__orange-line {
    border-bottom: 1px solid #f4511e;
    height: 0px;
    width: 153px;
}

.who__lorem {
    font-size: 15px;
    color: #919191;
    text-align: center;
    margin-top: 27px;
}

.skills {
    width: 100%;
    height: 542px;
    /* position: absolute;
    top: 3199px; */
    display: flex;
    justify-content: center;
}

.skills__part {
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__circle {
    width: 320px;
    height: 436px;
    display: flex;
    background-color: #ebebeb;
    flex-direction: column;
    align-items: center;
}

.skills__circle_pic {
    background-color: #f26c4f;
    width: 135px;
    height: 135px;
    border-radius: 135px;
    margin-top: 73px;
    margin-bottom: 32px;
}

.skills__circle_jane {
    color: #3d3d3d;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.skills__circle_designer {
    color: #858383;
    font-size: 12px;
    margin-bottom: 22px;
}

.skills__circle_socials {
    display: flex;
    flex-direction: row;
}

.skills__b-e {
    margin-right: 8px;
}

.skills__tw {
    margin-right: 8px;
}

.skills__dots {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.dark__dot {
    background-color: #8e8181;
    width: 13px;
    height: 13px;
    border-radius: 13px;
}

.light__dot {
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin-left: 8px;
}

.skills__skills {
    width: 661px;
    height: 436px;
    display: flex;
    background-color: #ebebeb;
    flex-direction: column;
    margin-left: 23px;
}

.skills__my {
    font-size: 19px;
    font-weight: bold;
    color: #3f3f3f;
    margin-top: 124px;
    margin-left: 64px;
}

.skills__lorem {
    color: #bbbaba;
    font-size: 12px;
    margin-left: 64px;
    margin-bottom: 24px;
    margin-top: 27px;
}

.skills__block {
    margin-left: 64px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 22px;
}

.skills__block_text {
    color: #3f3f3f;
    font-weight: bold;
    font-size: 12px;
}

.skills__block_progress {
    width: 370px;
    height: 0;
    border: 1px solid white;
}

.block__progress1 {
    width: 88%;
    height: 0;
    border: 1px solid #f26c4f;
}

.block__progress2 {
    width: 92%;
    height: 0;
    border: 1px solid #f26c4f;
}

.block__progress3 {
    width: 90%;
    height: 0;
    border: 1px solid #f26c4f;
}

.block__progress4 {
    width: 98%;
    height: 0;
    border: 1px solid #f26c4f;
}

.skills__block_procents {
    color: #3f3f3f;
    font-size: 11px;
}